.chatList {
    .chat-terbaru {
        color: rgb(145, 142, 142);
    }

    .active {
        background-color: rgb(63, 109, 209);
        color: white;

        .chat-terbaru {
            color: white;
        }
    }
}


.mainChatPage {
    background-image: url();
}



.segiTigaChat {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right: 10px solid rgb(229, 231, 235);
}